@use '../abstract' as var;

$size: 4rem;
$size-small: 2.5rem;
.image {
  display: block;
  width: 100%;

  &__avatar {
    width: $size;
    // margin: 0 0.5rem;

    @include var.is-tablet {
      width: $size + 1.5;
    }

    &.--small {
      width: $size-small;
      // height: $size-small;
    }
  }
}

[class^="icon-"] {
  font-size: 1.3rem;

  @include var.is-tablet {
    font-size: 2rem;
  }
}