@use '../abstract' as var;

.container {
  margin: auto;
  max-width: var.$width-desktop;
  min-height: 100%;
  overflow: hidden;

  &__main {
    margin-top: var.$height-header;
  }
}

aside {
  outline: 1px solid red;
}
